.body{
    display: flex;
    max-width: 1700px;
    margin: 0 auto;
    /* height: 1000vh; */
    /* background: rgb(243, 243, 243); */
    background: white;
    /* border: solid black 2px; */
    font-family: 'Montserrat';

}
a{
    text-decoration: none;
    display: flex;
    align-items: center;
    color: rgb(16, 16, 16);
}
.left__block{
    width: 20%;
    height: 750px;
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgb(255, 255, 255);
}
.navblock__wrap{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
}
.navigation{
    display: flex;
    flex-direction: column;
    font-size: 25px;
    gap: 32px;
}
.nav__link{
    text-decoration: none;
    color: black;
    transition: all 0.2s;
}
.logo{
    width: 170px;
}
.icon{
    width: 30px;
}
.hovericon{
    transition: all 0.2s;
}
.icon:hover .hovericon{
    fill: rgb(255, 196, 0);
}
.nav__link:hover{
    color: rgb(255, 196, 0);
}
.nav__media{
    display: flex;
    flex-direction: row;
    gap: 35px;
    align-items: center;
}
.content{
    width: 80%;
}
.head{
    width: 100%;
    height: 60px;
    background: rgb(255, 255, 255);
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 5;
}
button{
    border: none;
    background: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    border-radius: 5px;
    font-family: 'Montserrat';
}
.head__button{
    background: white;
    padding: 10px;
    margin-left: 50px;
    transition: all 0.2s;
}
.button__icon{
    transition: 0.1s;
}
.head__button:hover .button__icon{
    fill: rgb(255, 196, 0);
}
.fake__button{
    text-decoration: none;
    background: rgb(255, 196, 0);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 0px 20px;
    border-radius: 5px;
    transition: all 0.2s;
    font-weight: bold;
    letter-spacing: 2px;
    color: black;
    
}
.card__button{
    display: flex;
    justify-content: flex-end;
    padding: 10px;
}
.card__button button{
    opacity: 0;
    border: solid 3px rgb(255, 196, 0);
    width: 40%;
    height: 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    font-size: 15px;
    color: rgb(43, 43, 43);
    transition: all 0.2s;
}
.card__button button:hover{
    background: rgb(255, 196, 0);
}
.fake__button:hover{
    background: rgb(255, 208, 54);
}
.head__signin__button{
    height: 40px;
}
.main__content{
    /* height: 100vh; */
}
.page__title{
    font-size: 40px;
    font-weight: bold;
    margin-left: 50px;
}
.main__products{
    /* margin-left: 50px; */
    margin-top: 30px;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
}
.product__card{
    width: 25%;
    height: 550px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.product__card__link{
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.product__card:hover .card__button button{
    opacity: 1;
}
.product__card:hover{
    box-shadow: 0px 0px 15px rgb(233, 233, 233);
}
.product__info__wrap{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.product__info{
    width: 70%;
}

.product__card__picture{
    width: 90%;
    height: 75%;
    overflow: hidden;    
    position: relative;
    padding: 10px;
}
.product__card__picture img{
    border-radius: 5px;
    object-fit:cover;
    width: 100%;
    height: 100%;
}
.product__card__info{
    padding-bottom: 15px;
    width: 90%;
    height: 20%;
    font-size: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: rgb(119, 119, 119);
}
.review__block{
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.reviews{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.review__form{
    width: 50%;
    display: flex;
    gap: 10px;
}
.review__form input{
    border-radius: 10px;
    width: 100%;
    font-size: 18px;
    border: 1px rgba(0, 0, 0, 0.205) solid;
}
.review__item{
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 60%;
    padding: 20px;
    box-shadow: 0px 2px 5px rgb(223, 223, 223);
}
.review__fio{
    font-weight: 700;
    color: rgba(0, 0, 0, 0.548);
}
.product__card__price{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 17px;
    font-weight: 700;
    color: rgb(0, 0, 0);
    /* letter-spacing: 1px; */
}
.sign__buttons__block{
    display: flex;
    gap: 15px;
    margin-right: 50px;
}
.modal__wrap{
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.4);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    pointer-events: none;
    opacity: 0;
    transition: all 0.2s;
}
.modal__wrap.active{
    opacity: 1;
    pointer-events: all;
}
.modal__content{
    width: 30%;
    height: 400px;
    border-radius: 10px;
    background: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.workshop__wrapper{
    width: 100%;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    margin-top: 50px;
}
.create__product{
    display: flex;
    flex-direction: column;
    align-items: center;
}
[hidden][hidden]{
    display: none;
}
.my__products{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    align-items: center;
}
.add__product{
    display: flex;
    flex-direction: column;
    width: 40%;
}

.modal__center{
    margin-top: 30px;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.cart{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-around;
    position: relative;
}
.cart__items{
    width: 70%;
    margin-left: 10px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.cart__item{
    width: 100%;
    height: 160px;
    box-shadow: 0px 2px 5px rgb(223, 223, 223);
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.cart__item__quantity{
    height: 40px;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.cart__item__quantity button{
    height: 35px;
    width: 35px;
    border: solid 1px rgb(255, 196, 0);
    border-radius: 20px;
    display: flex;
    justify-content: space-around;
    font-size: 30px;
    color: rgb(27, 27, 27);
}
.cart__item__sum{
    height: 150px;
    width: 15%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    font-size: 20px;
}
.cart__item__delete{
    width: 100%;
    transition: all 0.2s;
    display: flex;
    justify-content: flex-end;
    opacity: 0;
}
.cart__item:hover .cart__item__delete{
    opacity: 1;
}
.cart__order__block{
    height: 500px;
    width: 20%;
    margin-top: 50px;
    display: flex;
    align-items: center;
    position: sticky;
    top: 50px
}
.cart__order__info{
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: 20px;
    font-weight: 700;
}
.cart__image{
    height: 150px;
    width: 150px;
    overflow: hidden;    
    position: relative;
    margin-left: 10px;
}
.cart__image img{
    border-radius: 5px;
    object-fit:cover;
    width: 100%;
    height: 100%;
}
.cart__icon__button{
    position: relative;
}
.cart__icon__button svg{
    position: relative;
}
.cart__counter{
    position: absolute;
    left: 35px;
    top: 5px;
    width: 15px;
    height: 15px;
    background: rgb(255, 196, 0);
    z-index: 20;
    border-radius: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    font-size: 12px;
    font-weight: 700;
    color: rgb(0, 0, 0);
    overflow: hidden;
}
.lock__button{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    height: 35px;
    background: rgb(255, 255, 255);
    border: none;
    color: black;
}
.lock__button button{
    font-size: 20px;
    cursor:auto;
}
.sign__up__form{
    height: 600px;
}
::-webkit-input-placeholder{
    color: rgba(0, 0, 0, 0.476);
}
input{
    
    font-size: 25px;
    height: 40px;
    border: none;
    outline: none;
    border-bottom: solid 3px rgb(255, 200, 0);
}
.modal__content input{
    width: 70%;
}
.account__wrap{
    width: 100%;
    /* height: 100vh; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;  
    gap: 30px;
    /* justify-content: space-between;  */
}
.account__block{
    width: 30%;
    
}
.search__input{
    border: none;
    color: rgb(48, 48, 48);
    background: rgb(241, 241, 241);
    width: 100%;
    border-radius: 10px;
    font-size: 15px;
    cursor: pointer;
}
.search__form{
    width: 50%;
    display: flex;
}
.account__info{
    font-size: 30px;
    position: sticky;
    top: 150px;
}
.buttons__between{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.exit__button{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    background: rgb(236, 89, 89);
    color: aliceblue;
    padding: 13px;
}
.orderInfo{
    padding: 10px;
    width: 40%;
    min-height: 400px;
    background: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.189) 0px 0px 15px;
    font-family: monospace;
    font-size: 18px;
}
.simple__button{
    padding: 13px;
    background: rgb(255, 200, 0);
    color: aliceblue;
}
.account__story{
    margin-top: 20px;
    width: 60%;
}
.account__story__goods{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}
.edit__account__info{

}
.menu{
    display: none;
    left: -1000px;
    top: 60px;
    transition: all 1s;
}
@media screen and (max-width: 1200px){
    .product__card{
        width: 45%;
    }
    .search__form{
        display: none;
    }
    
}
@media screen and (max-width: 950px){
    .body{
        flex-direction: column;
        align-items: center;
    }
    .content{
        width: 100%;
    }
    .product__card{
        width: 60%;
    }
    .left__block{
        display: none;
    }
    .sign__buttons__block{
        display: none;
    }
    .search__form{
        display: none;
    }
    .mobile__menu{
        display: block;
        position: relative;
        width: 35px;
        height: 20px;
        margin-right: 20px;

    }
    .mobile__menu.active:before{
        top: 8px;
        transform: rotate(45deg);
    }
    .mobile__menu.active:after{
        bottom: 10px;
        transform: rotate(-45deg);
    }
    .menu.active{
        /* display: block; */
        left: 0px;
    }
    .menu{
        display: block;
        position: fixed;
        left: -1200px;
        /* top: -90px; */
        width: 100%;
        height: 100%;
        background: rgb(255, 255, 255);
        font-size: 30px;
    }
    .menu__list{
        list-style: none;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        height: 60%;
        align-items: center;
        padding-left: 0px;
    }
    .menu__link{
        color: rgb(0, 0, 0);
    }
    .mobile__menu:before,
    .mobile__menu:after{
        content: '';
        background-color: rgb(0, 0, 0);
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
        transition: all 0.2s;
    }
    .mobile__menu:before{
        top: 0px;
    }
    .mobile__menu:after{
        bottom: 2px;
    }
}
@media screen and (max-width: 620px){
    .body{
        flex-direction: column;
        align-items: center;
    }
    .content{
        width: 100%;
    }
    .product__card{
        width: 90%;
    }
    .left__block{
        display: none;
    }
    .sign__buttons__block{
        display: none;
    }
    .search__form{
        display: none;
    }
    
}
