body{
    display: flex;
    max-width: 1700px;
    margin: 0 auto;
    /* height: 1000vh; */
    /* background: rgb(243, 243, 243); */
    background: white;
    /* border: solid black 2px; */
    font-family: 'Montserrat';

}
a{
    text-decoration: none;
    display: flex;
    align-items: center;
}
.left__block{
    width: 20%;
    height: 750px;
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgb(255, 255, 255);
}
.navblock__wrap{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
}
.navigation{
    display: flex;
    flex-direction: column;
    font-size: 25px;
    gap: 32px;
}
.nav__link{
    text-decoration: none;
    color: black;
    transition: all 0.2s;
}
.logo{
    width: 170px;
}
.icon{
    width: 30px;
}
.hovericon{
    transition: all 0.2s;
}
.icon:hover .hovericon{
    fill: rgb(255, 196, 0);
}
.nav__link:hover{
    color: rgb(255, 196, 0);
}
.nav__media{
    display: flex;
    flex-direction: row;
    gap: 35px;
    align-items: center;
}
.content{
    width: 80%;
}
.head{
    width: 100%;
    height: 60px;
    background: rgb(255, 255, 255);
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
button{
    border: none;
    background: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    border-radius: 5px;
}
.head__button{
    background: white;
    padding: 10px;
    margin-left: 50px;
    transition: all 0.2s;
}
.button__icon{
    transition: 0.1s;
}
.head__button:hover .button__icon{
    fill: rgb(255, 196, 0);
}
.fake__button{
    text-decoration: none;
    background: rgb(255, 196, 0);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 0px 20px;
    border-radius: 5px;
    transition: all 0.2s;
    font-weight: bold;
    letter-spacing: 2px;
    color: black;
    
}
.fake__button:hover{
    background: rgb(255, 208, 54);
}
.head__signin__button{
    height: 40px;
}
.main__content{
    /* height: 100vh; */
}
.page__title{
    font-size: 40px;
    font-weight: bold;
    margin-left: 50px;
}
.main__products{
    /* margin-left: 50px; */
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}
.product__card{
    width: 30%;
    height: 400px;
    background: rgb(247, 246, 246);
    border-radius: 5px;
}
.sign__buttons__block{
    display: flex;
    gap: 15px;
    margin-right: 50px;
}
.modal__wrap{
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.4);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    pointer-events: none;
    opacity: 0;
    transition: all 0.2s;
}
.modal__wrap.active{
    opacity: 1;
    pointer-events: all;
}
.modal__content{
    width: 30%;
    height: 400px;
    border-radius: 10px;
    background: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.modal__center{
    margin-top: 30px;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sign__up__form{
    height: 600px;
}
::-webkit-input-placeholder{
    color: rgba(0, 0, 0, 0.476);
}
input{
    
    font-size: 25px;
    height: 40px;
    border: none;
    outline: none;
    border-bottom: solid 3px rgb(255, 200, 0);
}
.modal__content input{
    width: 70%;
}
.account_wrap{
    width: 100%;
    /* height: 100vh; */
    background: rgb(230, 230, 230);
    display: flex;
}
.account_block{
    width: 30%;
    height: 100vh;
    background: yellow;
}
.account_info{
    width: 70%;
    height: 100vh;
    background: red;
}
@media screen and (min-width: 950px) and (max-width: 1200px){
    .product__card{
        width: 45%;
    }
    
}
@media screen and (min-width: 620px) and (max-width: 950px){
    body{
        flex-direction: column;
        align-items: center;
    }
    .content{
        width: 100%;
    }
    .product__card{
        width: 60%;
    }
    .left__block{
        display: none;
    }
    .sign__buttons__block{
        display: none;
    }
}
@media screen and (min-width: 0px) and (max-width: 620px){
    body{
        flex-direction: column;
        align-items: center;
    }
    .content{
        width: 100%;
    }
    .product__card{
        width: 90%;
    }
    .left__block{
        display: none;
    }
    .sign__buttons__block{
        display: none;
    }
}
